.image-card {
  position: relative;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.image-card:hover {
  transform: scale(1.05);
}

/* Imagen ocupa TODO el botón */
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Capa oscura para que el texto se lea */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
